@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;800&display=swap");
@font-face {
  font-family: "Romul";
  text-transform: uppercase;
  src: url(../fonts/romul.woff2) format("woff2"), url(../fonts/romul.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header {
  background: #FDFFF5 !important;
  position: fixed;
  background: inherit;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 100%;
  z-index: 10000;
}
@media (max-width: 992px) {
  .header {
    position: fixed;
  }
  .header img {
    max-width: 80%;
  }
}

.header.header_hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(100, 100, 89)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #FDFFF5;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 992px) {
  .nav-btn {
    margin: 0 !important;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding-bottom: 25px !important;
  }
}

.navbar-nav .nav-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #646459;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px !important;
}
.navbar-nav .nav-link::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  color: #646459;
  position: relative;
}
.navbar-nav .nav-link:hover::before, .navbar-nav .nav-link.active::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  height: 2px;
  background-color: #646459;
  z-index: 1;
}

.greeting {
  min-height: 100vh !important;
  overflow: hidden;
}
.greeting::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
  background: url("../../src/img/greeting/bg.png") no-repeat;
  background-size: cover;
  /* Изменено значение */
}
.greeting h3 {
  font-family: Romul;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 35.2px */
  letter-spacing: 7.84px;
}
@media (max-width: 992px) {
  .greeting h3 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .greeting h3 {
    font-size: 24px;
  }
}
.greeting h1 {
  font-family: Romul;
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 22.55px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .greeting h1 {
    font-size: 61px;
  }
}
.greeting__links {
  gap: 20px;
}
.greeting__links h5 {
  padding: 0;
  margin: 0;
  font-weight: 800;
  letter-spacing: 1px;
}
.greeting li {
  position: absolute;
  z-index: -1;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__link a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  background: #E9D495;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}
.social__link a:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(179, 181, 191, 0.219);
          box-shadow: 0px 0px 15px 3px rgba(179, 181, 191, 0.219);
}

.btn-down {
  display: block;
}

.mouse {
  border: 2px solid #FDFFF5;
  border-radius: 13px;
  height: 46px;
  width: 26px;
}

.mouse span {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  background: none repeat scroll 0 0 #FDFFF5;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  height: 10px;
  margin: 6px auto;
  width: 4px;
}

@media (max-width: 768px) {
  .mouse {
    display: none;
  }
}
.me-photo-1 {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 530px) {
  .me-photo-1 {
    width: 80%;
  }
}

.parallax-wrap .stack-item {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -3;
  opacity: 0.4;
  background: #0D0D0F;
}
.parallax-wrap .stack-item img {
  height: 40px;
  width: 40px;
}

.parallax-wrap .stack-item:nth-child(1) {
  top: 70%;
  left: 10%;
}

.parallax-wrap .stack-item:nth-child(2) {
  top: 15%;
  left: 85%;
}

.parallax-wrap .stack-item:nth-child(3) {
  top: 20%;
  left: 60%;
}

.parallax-wrap .stack-item:nth-child(4) {
  top: 60%;
  left: 55%;
}

.parallax-wrap .stack-item:nth-child(5) {
  top: 50%;
  left: 30%;
}

.parallax-wrap .stack-item:nth-child(6) {
  top: 0%;
  left: 30%;
}

@media (max-width: 992px) {
  .parallax-wrap .stack-item {
    display: none;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
.about {
  padding-top: 140px !important;
}
.about p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.about__slide {
  border-radius: 15px !important;
  overflow: hidden;
}

.about__slider-pagination {
  bottom: 0 !important;
  text-align: end;
}
.about__slider-pagination span {
  background-color: #646459;
  width: 8px;
  height: 8px;
  padding: 5px;
}

.about__slider .swiper-slide {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.about__slider .swiper-slide-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.about__slider .swiper-slide-active img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__masters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masters__card {
  min-height: 100%;
  padding: 25px;
  background-image: rgba(238, 238, 238, 0.4039215686);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
  position: relative;
  /* Добавьте позиционирование */
  /* Добавьте элемент для заднего плана */
}
.masters__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgb(233, 212, 149)), color-stop(52%, rgb(253, 255, 245)));
  background-image: linear-gradient(180deg, rgb(233, 212, 149) 9%, rgb(253, 255, 245) 52%);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  /* Используйте opacity для анимации */
  z-index: -1;
  opacity: 0;
  /* Поместите задний план под контент */
}
.masters__card:hover::before {
  opacity: 1;
  /* При наведении сделайте задний план невидимым */
}

.master-card__image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.master-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.master-card__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.master-card__subtitle {
  margin-bottom: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.portfolio__slider-pagination {
  bottom: 10px !important;
  text-align: center;
}
.portfolio__slider-pagination span {
  background-color: #FDFFF5;
  width: 8px;
  height: 8px;
  padding: 5px;
}

.grid-box {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.grid-box p {
  margin: 0;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 1140px) {
  .grid-box p {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .grid-box p {
    font-size: 25px;
    line-height: 150%;
  }
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
}
@media (max-width: 530px) {
  .grid {
    grid-auto-rows: 300px;
  }
}

.grid > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #E9D495;
  position: relative;
  border-radius: 15px;
}
<<<<<<< HEAD
=======
.grid > div img::before {
  content: url("../img/nan.png");
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 800;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .grid > div img::before {
    font-size: 24px;
  }
}
>>>>>>> 7a104569eeb69a116ec0cc760a7e85a113114232

.grid .wide {
  grid-column: span 2;
}

.grid .tall {
  grid-row: span 2;
}

.grid .big {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 768px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
  }
  .grid .wide {
    grid-column: span 1;
  }
  .grid .tall {
    grid-row: span 1;
  }
  .grid .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (max-width: 530px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(32%, 100%));
  }
  .grid .wide {
    grid-column: span 1;
  }
  .grid .tall {
    grid-row: span 1;
  }
  .grid .big {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.juxtapose {
  min-width: 100%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
}
div.jx-image img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.jx-arrow {
  display: none;
}

.jx-control {
  background-color: #646459 !important;
}

.jx-controller {
  width: 40px !important;
  height: 40px !important;
  /* цвет фона */
  background-color: #E9D495 !important;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  border-radius: 50%;
  position: absolute;
  top: 0 !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
      -ms-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .jx-controller {
    width: 30px !important;
    height: 30px !important;
  }
}

.services h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 40px;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  background: inherit;
  margin: 0;
  margin-bottom: 20px;
}

.tabs__btn {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-bottom: 1px solid #646459;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgb(253, 255, 245);
}
@media (max-width: 768px) {
  .tabs__btn {
    font-size: 17px;
  }
}

.tabs__btn-active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(253, 255, 245, 0.0928746499)), to(rgba(233, 212, 149, 0.3421743697)));
  background: linear-gradient(180deg, rgba(253, 255, 245, 0.0928746499) 6%, rgba(233, 212, 149, 0.3421743697) 100%);
  border-bottom: 1px solid #E9D495;
  cursor: pointer;
}

.tabs__btn:not(.tabs__btn-active):focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(253, 255, 245, 0.0928746499)), to(rgba(233, 212, 149, 0.3421743697)));
  background: linear-gradient(180deg, rgba(253, 255, 245, 0.0928746499) 6%, rgba(233, 212, 149, 0.3421743697) 100%);
  border-bottom: 1px solid #E9D495;
}

.tabs__pane {
  display: none;
}

.tabs__pane-show,
.tab-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}
@media (max-width: 768px) {
  .service-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 5px !important;
  }
}
.service-item__image {
  min-width: 300px;
  height: 355px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  background: #E9D495;
  z-index: 2;
}
<<<<<<< HEAD
=======
.service-item__image::before {
  content: url("../img/nan.png");
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 800;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .service-item__image::before {
    font-size: 24px;
  }
}
>>>>>>> 7a104569eeb69a116ec0cc760a7e85a113114232
@media (max-width: 768px) {
  .service-item__image {
    max-height: 250px;
    width: 100%;
    margin-bottom: 15px;
  }
}
.service-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  gap: 15px;
  padding-left: 15px;
  width: 100%;
}
@media (max-width: 768px) {
  .service-item__content {
    min-height: auto;
    padding-left: 0;
  }
}
.service-item__title {
  color: #0D0D0F;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.service-item__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.service-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-item__time {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.service-item__price {
  color: #E9D495;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.reviews p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 768px) {
  .reviews__yandex {
    height: 650px !important;
  }
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .contacts__info {
    margin-top: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.contacts__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.contacts__info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.contacts__image {
  position: relative;
  height: 300px;
}
@media (max-width: 992px) {
  .contacts__image {
    padding: 10px;
  }
}
.contacts__image img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #E9D495;
  z-index: 2;
}
<<<<<<< HEAD
.contacts__image:nth-child(1), .contacts__image:nth-child(2), .contacts__image:nth-child(3) {
  position: relative;
  overflow: hidden;
=======
.contacts__image img::after {
  content: url("../img/nan.png");
  width: auto;
  height: auto;
  font-size: 48px;
  font-weight: 800;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 0;
}
@media (max-width: 992px) {
  .contacts__image img::after {
    font-size: 32px;
  }
>>>>>>> 7a104569eeb69a116ec0cc760a7e85a113114232
}
.contacts__image:nth-child(1), .contacts__image:nth-child(2), .contacts__image:nth-child(3) {
  position: relative;
  overflow: hidden;
}
.contacts__image:nth-child(1)::before, .contacts__image:nth-child(2)::before, .contacts__image:nth-child(3)::before {
  position: absolute;
  bottom: 0px;
  right: 22px;
  color: #FDFFF5;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.contacts__image:nth-child(1)::before {
  content: "1";
}
.contacts__image:nth-child(2)::before {
  content: "2";
}
.contacts__image:nth-child(3)::before {
  content: "3";
}

.contacts-info__name {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts-info__title {
  color: #0D0D0F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contacts-info__subtitle {
  color: #646459;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts-info a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contacts-info a:hover {
  color: #E9D495;
}

.working-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 530px) {
  .map {
    height: 400px;
  }
}

.reasons-why__item {
  padding: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reasons-why-item__image {
  margin-bottom: 5px;
}
.reasons-why-item__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reasons-why-item__subtitle {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.jx-knightlab {
  display: none !important;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  color: #FDFFF5 !important;
  -webkit-transition: background-color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
  -webkit-transition: color 0.3s ease !important;
  transition: color 0.3s ease !important;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

body {
  background: #FDFFF5 !important;
  color: #646459 !important;
  -webkit-transition: background-color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
  -webkit-transition: color 0.3s ease !important;
  transition: color 0.3s ease !important;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container-xxl {
  max-width: 1440px !important;
}

.primary {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}
.primary__title {
  text-align: center;
  font-family: Romul;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .primary__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.primary__subtitle {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
@media (max-width: 768px) {
  .primary__subtitle {
    font-size: 36px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.prm-btn {
  text-decoration: none;
  border-radius: 0px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(165, 165, 151, 0.29);
          box-shadow: 0px 4px 10px 0px rgba(165, 165, 151, 0.29);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 0px 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #E9D495;
  background: #E9D495;
  color: #FDFFF5 !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 992px) {
  .prm-btn {
    padding: 0 25px;
    line-height: 3;
  }
}
.prm-btn:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 60px;
  width: 50px;
  position: absolute;
  top: 0px;
  left: -90px;
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
}
.prm-btn:hover {
  background: #E9D495;
  color: #FDFFF5 !important;
}
.prm-btn:hover:before {
  left: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.prm-btn:focus {
  color: #FDFFF5 !important;
  outline: none;
}
.prm-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 300px;
  height: 450px;
}
@media (max-width: 992px) {
  .swiper-slide {
    height: auto;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 530px) {
  .about__slider .swiper-pagination {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */